@model HWA.ECom.Entity.ShoppingCartProduct

@{
    ViewBag.Title = "TestSearch";
}

<h2>TestSearch</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(excludePropertyErrors: true)

    @Html.LabelFor(model => model.ShoppingCartId)
    @Html.EditorFor(model => model.ShoppingCartId)
    @Html.ValidationMessageFor(model => model.ShoppingCartId)
    <br />

    <input type="submit" value="SelectByShoppingCartId" />
}