USE [ECom]
GO
/****** Object:  StoredProcedure [dbo].[usp_ECom_SearchShoppingCartProductByShoppingCartId]    Script Date: 3/23/2017 8:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jianping Yin
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_ECom_SearchShoppingCartProductByShoppingCartId]
	-- Add the parameters for the stored procedure here
	@ShoppingCartId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT Id, ShoppingCartId, ProductId, Quantity, UnitPrice, UnitOfMeasure, SubTotal, CreatedBy, CreatedDate, LastModifiedBy, LastModifiedDate FROM [dbo].[ShoppingCartProduct]
	WHERE ShoppingCartId=@ShoppingCartId;

    -- Insert statements for procedure here
END
